.login-form {
    border: 1px solid white;
    width: max-content;
    padding: 1.5rem 1rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.username-login, .password-login {
    display: block;
    width: 100%;
}

.password-login-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login-btn {
    width: 100%;
}